{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sockets</h1>
{% endblock %}

{% block javascripts %}
    <script>
        notif = new WebSocket("ws://0.0.0.0:8080");

        notif.onmessage = function (event) {
            console.log(event.data);
        };

        notif.onopen = function(e) {
            console.log(e);
            notif.send('connected');
        };

        notif.onerror = function(error) {
            console.log(error)
        }
    </script>
{% endblock %}
